
.container{
    background: linear-gradient(45deg, #cb356b, #bd3f32);
    color: white;
    padding: 32px;
    width: 60vw;
}

.nome{
    font-size: 50px;
    margin: 0;
    margin-top: 24px;
    text-align: center;
}

.data{
    font-size: 20pt;
    margin-top: 8px;
    opacity: 0.95;
    text-align: center;
}