
.container{
    background: linear-gradient(45deg, #121212, #333);
    color: #eee;
    padding: 32px;
    width: 60vw;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin: 5px;
}

.nome{
    font-size: 35px;
    margin: 0;
    margin-top: 24px;
    text-align: center;
}

.data{
    font-size: 25px;
    margin-top: 8px;
    opacity: 0.95;
    text-align: center;
}

@media (max-width: 480px) {
    .container {
        width: 80vw;
    }

    .nome{
        font-size: 20px;
    }

    .data{
        font-size: 17px;
    }
}