*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}


body{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: #121212;
}