.input {
    width: 100%;
    height: 42px;
    background: white;
    border: none;
    border-radius: 6px;
    font-size: 14pt;
    padding: 0 12px;
    outline: none;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    color: #777;

}