.item {
    background: #eee;
    padding: 16px;
    margin-bottom: 16px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    color: #777;
}

.feito {
    background: #9c3030;
    text-decoration: line-through;
    color: #777;
}

.item {
  transition: 0.2s ease;
}

.item:hover {
  transform: scale(1.02);
  background: #9c9c9c;
}

